body {
    padding-bottom: 50px;
}

.profile-picture {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile-picture>img {
    border-radius: 10%;
}

.alert-danger {
    background-color: #9C1A1C;
    color: white;
}

.alert-success {
    background-color: #448036;
    color: white;
}

.alert-message {
    background-color: #3a6db0;
    color: white;
}

.buy-button {
    background-color: #3A7734;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0
}

.sell-button {
    background-color: rgba(169, 28, 28, 0.96);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0
}

.balance {
    background-color: #3a6db0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

h6 {
    margin-bottom: 0;
    color: white;
}

th:nth-child(2),
td:nth-child(2) {
    width: 500px;
}

.transactions-table {

    th:nth-child(2),
    td:nth-child(2) {
        width: auto;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.pagination>a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .grid {
        gap: 5%;
    }
}
