{% extends "layout.html" %}

{% block content %}
    <main>
        <div>
            <h1>Welcome to Trading Wallet </h1>
            <h4>A minimalist app to manage investments portfolios</h4>
            <div>
                <p>🎓 This is my CS50X Final Project </p>
                <p>🐍 Developed using Flask and Python </p>
                <p>👨🏻‍💻 I'm Agustin Chávez </p>
                <p>🇦🇷 From Buenos Aires, Argentina </p>
            </div>

            <div>
                <a type="button" target="_blank" href="https://github.com/agustin-chavez/trading-wallet" class="secondary">GitHub</a>
            </div>
        </div>
    </main>
{% endblock content %}