{% extends "layout.html" %}

{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                    {{ form.username.label }}
                    {% if form.username.errors %}
                        {{ form.username }}
                        <div>
                            {% for error in form.username.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username }}
                    {% endif %}
                </div>
                <div>
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password }}
                        <div>
                            {% for error in form.password.errors %}
                                <article> {{ error }}</article>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password }}
                    {% endif %}
                </div>
                <div>
                    {{ form.remember }}
                    {{ form.remember.label }}
                </div>
            </fieldset>

            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
    <div>
        <small>
            New here? <a>Register</a>
        </small>
    </div>

{% endblock content %}