{% extends "layout.html" %}

{% block content %}
    <main>
        <div>
            <h1>Market</h1>
            <h5 class="grey">Cash Available: {{ usd(cash) }}</h5>
        </div>

        <table>
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Company</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock available</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker in tickers %}
                    <tr>
                        <td>{{ ticker.symbol }}</td>
                        <td>{{ ticker.name }}</td>
                        <td>{{ usd(ticker.price) }}</td>
                        <td>{{ volume(ticker.stocks) }}</td>
                        <td><a type="button" class="buy-button" href="{{ url_for('market.buy', symbol=ticker.symbol) }}">Buy</a></td>
                    </tr>
                {% endfor %}
            </table>

            <div class="pagination">
                {% for page_num in tickers.iter_pages(left_edge=4, right_edge=5, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if tickers.page == page_num %}
                            <a href="{{ url_for('market.paginated') }}" aria-current="page">{{ page_num }}</a>
                        {% else %}
                            <a href="{{ url_for('market.paginated', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div>

        </main>
{% endblock content %}
