{% extends "layout.html" %}

{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="grid">
            <div>
                <div>
                    {{ form.username.label }}

                    {% if form.username.errors %}
                        {{ form.username }}
                        <div>
                            {% for error in form.username.errors %}
                                <article class="alert-danger"> {{ error }}</article><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username }}
                    {% endif %}
                </div>
                <div>
                    {{ form.email.label }}
                    {% if form.email.errors %}
                        {{ form.email }}
                        <div>
                            {% for error in form.email.errors %}
                                <article class="alert-danger"> {{ error }}</article><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email }}
                    {% endif %}
                </div>
            </div>
            <div>
                <div>
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password }}
                        <div>
                            {% for error in form.password.errors %}
                                <article class="alert-danger"> {{ error }}</article><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password }}
                    {% endif %}
                </div>
                <div>
                    {{ form.confirm_password.label }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password }}
                        <div>
                            {% for error in form.confirm_password.errors %}
                                <article class="alert-danger"> {{ error }}</article><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password }}
                    {% endif %}
                </div>
            </div>
        </fieldset>

        <div>
            {{ form.submit }}
        </div>
    </form>
    <small>
        Already have an account? <a href="{{ url_for('users.login') }}">Log In</a>
    </small>

{% endblock content %}
