{% extends "layout.html" %}

{% block content %}
    <main>
        <h1>Transactions</h1>
        <table class="transactions-table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Operation</th>
                <th scope="col">Ticker</th>
                <th scope="col">Shares</th>
                <th scope="col">Share Price</th>
                <th scope="col">Fee</th>
                <th scope="col">Total Price</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <th>{{ transaction.transaction_date }}</th>
                    <td>{{ transaction.operation }}</td>
                    <td>{{ transaction.ticker }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ usd(transaction.share_price) }}</td>
                    <td>{{ usd(transaction.fee) }}</td>
                    <td>{{ usd(transaction.fee + transaction.share_price * transaction.shares) }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}